<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin/addUser" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="surname" placeholder="surname"><br>
  <input type="text"name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="text" name="phoneNumber" placeholder="phoneNumber"><br>
  <input type="text" name="address" placeholder="address"><br>
  <input type="text" name="age" placeholder="age"><br>
  <input type="text" name="course" placeholder="course"><br>

UserType: <select name="user.id">
  <option value="LECTURER">LECTURER</option>
    <option value="STUDENT">STUDENT</option>
  </select>
<!--  Course  <select name="course.id">&ndash;&gt;-->
<!--  <option th:each="course: ${courses}"&ndash;&gt;-->
<!--         th:text="${course.name} "&ndash;&gt;-->
<!--        th:value="${course.id}"></option>&ndash;&gt;-->
<!--</select>option-->
  <input type="submit" value="Add">
</form>
</body>
</html>