<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">logout</a><br>
<br>
<h5>ADMIN ADD STUDENT / LECTURER </h5>
<br>
<form action="/admin/addUser" method="post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="phoneNum" placeholder="phoneNumber"><br>
    <input type="text" name="address" placeholder="address"><br>
    <input type="text" name="age" placeholder="age"><br>
<br>
    UserType: <select name="userType">
    <option value="LECTURER">LECTURER</option>
    <option value="STUDENT">STUDENT</option>
</select>
    <br>
    <select name="course.id">
        <option
                th:each="course:${courses}"
                th:text="${course.name}"
                th:value="${course.id}">
        </option>
    </select>
    <input type="submit" value="Add">
</form>
<br>
<h5> ALL PERSONS </h5><br>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>age</th>
        <th>phoneNumber</th>
        <th>address</th>
        <th>Course</th>
        <th>USERTYPE</th>
        <th>DELETE</th>
        <th>EDIT</th>

    </tr>
    <tr th:each="allUsers: ${users}">
        <td th:text="${allUsers.id}"></td>
        <td th:text="${allUsers.name}"></td>
        <td th:text="${allUsers.surname}"></td>
        <td th:text="${allUsers.email}"></td>
        <td th:text="${allUsers.age}"></td>
        <td th:text="${allUsers.phoneNum}"></td>
        <td th:text="${allUsers.address}"></td>
        <td th:text="${allUsers.course.name}"></td>
        <td th:text="${allUsers.userType}"></td>
        <td><a th:href="@{/userDelete(id=${allUsers.getId()})}">DELETE</a></td>
        <td><a th:href="@{/studentUpdate(id=${allUsers.getId()})}">EDIT</a></td>
    </tr>
</table><br>
<h5>ALL COURSES</h5>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>duration</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="course: ${courses}">
        <td th:text="${course.getId}"></td>
        <td th:text="${course.getName()}"></td>
        <td th:text="${course.getDuration()}"></td>
        <td><a th:href="@{/deleteCourse(id=${course.getId()})}"> DELETE </a></td>
    </tr>
</table><br>

ADMIN ADD COURSE<br>

<form action="/addCourse" method="post">
    NAME:      <input type="text" name="name" placeholder="name"><br>
    DURATION:  <input type="text" name="duration" placeholder="duration"><br>
    <input type="submit"
           value="Add">
</form>
</body>
</html>