<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/login">LOGIN</a><br>
<br>

<h1>WELCOME EDUCATION CENTER PLANEMO</h1>

<br>
<div th:include="/fragments/header:: lang"></div>
<a th:text="#{home.menu.admin.page}" href="/admin">Admin</a> | <a th:text="#{home.menu.student.page}" href="/student">STUDENT</a> <a th:text="#{home.menu.lecturer.page}" href="/lecturer">LECTURER</a>

<br>
<!--<a href="/admin"> ADMIN  </a><br>-->
<!--<a href="/lecturer"> LECTURERS </a><br>-->
<!--<a href="/student"> STUDENTS </a><br>-->

</body>
</html>