<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/message" method="post">
    <textarea  name="letter"> </textarea><br>
    <select name="toUser.id">
        <option th:each="user:${users}"
                th:text="${user.name}"
                th:value="${user.id}"></option>
    </select><br>
    <input type="submit" value="add">





</form>

<div th:include="/fragments/header:: lang"></div>
<a th:text="#{student.showMessages}" href="/showMessages">Show all Messages</a> |
<a th:text="#{student.homeworks}" href="/homeWorks">My HomeWorks</a>

<br>
<a th:text="#{student.logout}" href="/logout">Logout</a> |

<br>

<br>
</body>
</html>