<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/message" method="post">
    <textarea  name="letter"> </textarea><br>
    <select name="toUser.id">
        <option th:each="user:${users}"
                th:text="${user.name}"
                th:value="${user.id}"></option>
    </select><br>
    <input type="submit" value="add">





</form>

<a href="/showMessages">Show all messages</a>
<a href="/logout">logout</a><br>
<a href="/homeWorks"> My HomeWorks </a>
<br>
</body>
</html>