<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
My Classmates
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>sendMassage</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}" ></td>
        <td ><a th:href="@{/messages/{id}(id=${user.id})}" href ="#"><a href="/sendMessages">massage</a>
        </a>
    </tr>


</table>
</table>

<a href="/myMessages">Show all messages</a>

</body>
</html>