<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th> name</th>
        <th>description</th>
        <th>deadLine</th>

    </tr>
    <tr th:each="homeWork : ${homeWorks}">
        <td th:text="${homeWork.getId()}"></td>
        <td th:text="${homeWork.getName()}"></td>
        <td th:text="${homeWork.getDescription()}"></td>
        <td th:text="${homeWork.getDeadline()}"></td>



    </tr>
</table>
</body>
</html>