<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/fragments/header:: lang"></div>
<a th:text="#{student.messages}" href="/messages">Send Message</a> |
<a th:text="#{student.homeworks}" href="/homeWorks">My HomeWorks</a>

<br>
<a th:text="#{student.logout}" href="/logout">Logout</a> |
<a th:text="#{student.home}" href="/">Home</a> |
<br>



<!--<a href="/messages">send message</a>
<a href="/logout">logout</a><br>
<a href="/homeWorks"> My HomeWorks </a>
<br>-->

<table border="1">
<tr>
    <th>From</th>
    <th>Message</th>
</tr>

<tr th:each="message:${messages}">
    <td th:text="${message.user.name}"></td>
    <td th:text="${message.letter}"></td>
</tr>
</table>
</body>
</html>