<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text ="${homework.name}"></h3>
<table th:border="1px">
    <tr th:each="comment:${comments}" style="border:black ">
        <td th:text="${comment.comment_}"></td>
        <td th:text="${comment.user.name}"></td>

    </tr></br>
</table>


<form action="/addComment" method="post">
    <input type="hidden" th:value="${homework.id}" name="homework.id"><br>
    <textarea name="comment_" ></textarea>
    <input type="submit" value="add Comment">
</form>
</body>
</html>