<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${homeWork.name}"></h3>
<table border="1px">
    <tr th:each="comment: ${comments}">
        <td th:text="${comment.comment}"></td>
        <td th:text="${comment.user.name}" ></td>
    </tr><br>

</table>
<form action="/addComment" method="post">
    <input type="hidden" th:value="${homeWork.id}" name="homeWork.id"><br>
    <textarea  name="text" > </textarea><br>
    <input type="submit" value="Add Comment">
</form>

</body>
</html>