<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">logout</a><br>
<br>
 <a href="/addUser"> Add User</a><br>
<!--Send Message <a href="/sendMessage"> send message</a><br>-->

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>age</th>
        <th>phoneNumber</th>
        <th>address</th>
        <th>UserType</th>
        <th>Course</th>
        <th>Delete</th>
        <th>edit</th>
    </tr>
    <tr th:each="all: ${users}">
        <td th:text="${all.id}"></td>
        <td th:text="${all.name}"></td>
        <td th:text="${all.surname}"></td>
        <td th:text="${all.email}"></td>
        <td th:text="${all.age}"></td>
        <td th:text="${all.phoneNum}"></td>
        <td th:text="${all.address}"></td>
        <td th:text="${all.userType}"></td>
        <td th:text="${all.course}"></td>-->
        <td><a th:href="@{/userDelete(id=${all.getId()})}">Delete</a></td>

    </tr>


</table>
</body>
</html>