<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>

<body>
<a href="/addUser">
    <button>Add User</button><a/>
<a href="/logout">
    <button>Logout</button>
</a>
<h2 style="text-align: center;">Users</h2>
<table id="example" class="display nowrap" style="width:100%">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>salary</th>
        <th>position</th>
        <th>company name</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="allEmployee:${allEmployees}">
        <td th:text="${allEmployee.getId()}"></td>
        <td th:text="${allEmployee.getName()}"></td>
        <td th:text="${allEmployee.surname}"></td>
        <td th:text="${allEmployee.email}"></td>
        <td th:text="${allEmployee.getPhoneNumber()}"></td>
        <td th:text="${allEmployee.getSalary()}"></td>
        <td th:text="${allEmployee.getPosition()}"></td>
        <td th:text="${allEmployee.getCompany().getId()}"></td>
        <td><a th:href="@{/empdelete(id=${allEmployee.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body></html>